body{
    margin: 0;
    padding:0;
    background-image: linear-gradient(to top,orange 80%, yellow 90%);
    box-sizing: border-box;
    overflow-y: hidden;
}

html{
    font-size: 62.5%;
}

.bodyContainer{
    display: flex;
    flex-direction: row-reverse;
    height:77.4vh;
    margin-top: -2.1rem;
    // font-family:$mainFont;

}