//COLORS

$bl:black;
$w:white;
$color-primary-dark:rgb(1, 3, 26);
$color-primary:#282535;
$color-primary-light:rgb(3, 13, 151);

$spin-yellow-verylowopacity:rgba(247, 247, 5 , 0.01);
$spin-yellow-lowopacity:rgba(247, 247, 5 , 0.02);

$spin-orange:rgb(255, 166, 0);

$baby-blue:rgb(0, 174, 255);


$grey-dark:rgb(68, 68, 68);

//

$mainFont: 'Trispace', sans-serif;

//SCROLLBAR//

$scrollbar-track:rgb(37, 41, 46);
$scrollbar-thumb:#6649B8;