@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes sendMsgAlert {
  0% {
    background-color: #05c405; }
  100% {
    transform: scale(6); } }

@keyframes noSendMsgAlert {
  0% {
    background-color: red; }
  100% {
    transform: scale(6); } }

@keyframes sentMsgAlert {
  0% {
    background-color: #05c405;
    transform: scale(6); }
  100% {
    background-color: #05c405;
    transform: scale(6); } }

@keyframes notSentMsgAlert {
  0% {
    background-color: red;
    transform: scale(6); }
  100% {
    background-color: red;
    transform: scale(6); } }

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, orange 80%, yellow 90%);
  box-sizing: border-box;
  overflow-y: hidden; }

html {
  font-size: 62.5%; }

.bodyContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 77.4vh;
  margin-top: -2.1rem; }

.mainTitle {
  background-color: black;
  height: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 99%);
  -webkit-clip-path: 0% 0%,100% 0%,100% 60%,0% 99%; }
  @media (max-width: 75em) {
    .mainTitle {
      clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 97%); } }
  @media (max-width: 56.25em) {
    .mainTitle {
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 92%); } }
  @media (min-width: 112.5em) {
    .mainTitle {
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 97%); } }
  .mainTitleText {
    font-size: 5rem;
    font-family: 'Changa', sans-serif;
    color: white;
    background-image: linear-gradient(to right, #ff5e00, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    color: transparent;
    text-transform: uppercase; }
    @media (max-width: 56.25em) {
      .mainTitleText {
        font-size: 3rem; } }
    @media (max-width: 37.5em) {
      .mainTitleText {
        font-size: 2rem; } }

.logoImage {
  height: 15rem; }

::-webkit-scrollbar {
  width: .7rem; }

::-webkit-scrollbar-track {
  background-color: #25292e; }

::-webkit-scrollbar-thumb {
  background-color: #6649B8; }

.scrollIntoView {
  order: 1;
  padding: 0 !important; }

.primary {
  background-color: #282535;
  font-family: "Trispace", sans-serif;
  font-size: 3rem;
  width: 80%;
  border-image: linear-gradient(to right, #ff8800, #fbff00, goldenrod) 1;
  border-width: 1rem;
  border-style: solid;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    .primary {
      width: 100%; } }

.chat {
  width: 95%;
  height: 85%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth; }
  .chat div {
    background-color: #00aeff;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-right: 5rem;
    max-width: 70%;
    word-wrap: break-word;
    position: relative; }
    @media (max-width: 37.5em) {
      .chat div {
        margin-right: 0.5rem;
        margin-top: 0.5rem; } }
  .chat__otherUserChat {
    background-color: #dfdfdf !important;
    color: black !important;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    align-self: flex-start; }

.inputchat {
  position: relative;
  top: 0%;
  margin: 0 auto;
  width: 100%;
  height: 7rem;
  background-color: #282535;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0rem;
  overflow: hidden; }
  .inputchatform {
    position: relative;
    display: flex;
    margin: 0 2rem;
    z-index: 4; }
    .inputchatform--type {
      flex-grow: 1;
      height: 4rem;
      box-sizing: border-box;
      z-index: 4;
      background-color: #444444;
      border: none;
      color: white; }
    .inputchatform--sendchat {
      cursor: pointer;
      height: 4rem;
      padding: 0 3rem;
      z-index: 4;
      background-color: #01031a;
      color: white;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      .inputchatform--sendchat__radiate {
        background-color: transparent;
        height: 2rem;
        width: 2rem;
        position: absolute;
        border-radius: 50%; }
      .inputchatform--sendchat__icon {
        width: 4rem;
        height: 4rem;
        fill: white;
        z-index: 3; }

.spin {
  content: '';
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: absolute;
  height: 155rem;
  width: 100%;
  z-index: 3;
  background-image: conic-gradient(rgba(247, 247, 5, 0.01) 0%, rgba(247, 247, 5, 0.02) 15%, #ffa600 25%, transparent 25%, rgba(247, 247, 5, 0.01) 25%, rgba(247, 247, 5, 0.02) 40%, #ffa600 50%, transparent 50%, rgba(247, 247, 5, 0.01) 50%, rgba(247, 247, 5, 0.02) 65%, #ffa600 75%, transparent 75%, rgba(247, 247, 5, 0.01) 75%, rgba(247, 247, 5, 0.02) 90%, #ffa600 100%, transparent 100%);
  display: none; }

.spinAnimation {
  animation: rotate 3s linear infinite; }

.display {
  display: block; }

.displayNone {
  display: none; }

.footer {
  background-image: url("Images/dNQTbX.webp");
  font-family: "Trispace", sans-serif;
  font-size: 2rem;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .footer {
      display: none; } }
  .footerSubmit {
    background-color: #20C20E;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    text-transform: white;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: all .5s;
    align-self: center;
    position: relative;
    display: inline-block; }
    .footerSubmit:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205); }
    .footerSubmit:hover::after {
      transform: scaleX(1.6) scaleY(1.8);
      opacity: 0; }
  .footerSubmit::after {
    content: '';
    display: inline-block;
    background-color: #20C20E;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s; }
  .footerHeading {
    background-image: linear-gradient(to right, #ff5e00, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    color: transparent;
    margin-bottom: -1rem; }
    @media (max-width: 106.25em) {
      .footerHeading {
        display: none; } }
  .footerform {
    align-self: center;
    width: 100%; }
    .footerform__input {
      color: white;
      font-size: 20px;
      background-color: transparent;
      display: block;
      width: 70%;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 8px;
      border-image: linear-gradient(45deg, #20C20E, #0d4707) 1;
      border-width: 4px;
      border-style: solid;
      border-top: transparent;
      border-right: transparent;
      border-left: transparent; }
    .footerform__input::placeholder {
      color: white;
      font-size: 20px; }
  .footer__navigation {
    margin-left: -4rem;
    text-align: center; }
  .footer__link {
    text-decoration: none;
    color: #20C20E;
    padding: 3rem; }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    padding: 1.5rem;
    transition: all .3s; }
    .footer__item:hover {
      transform: rotate(25deg);
      background-color: black; }
  .footer__copyright {
    padding: 2rem;
    color: #20C20E;
    text-align: center; }
    @media (max-width: 75em) {
      .footer__copyright {
        display: none; } }
